.app {
  height: 100vh;
  background: linear-gradient(to top right, #1B202D, #434f69);
  color: #d4d4d4;
}

h1, h2, h3, p {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  color: white
}

.nav-link {
  color: white
}
